<h1>Sponsorship Portal</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the sponsorship portal! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_accountactivation_url(@user.activation_token,email: @user.email) %>