<%= form_for(sponsorship_d) do |f| %>
  <% if sponsorship_d.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsorship_d.errors.count, "error") %> prohibited this sponsorship_d from being saved:</h2>

      <ul>
      <% sponsorship_d.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
