<div class='hero-carousel carousel-blur carousel-blur-arrows carousel-blur-pagination flexslider' id='carousel-example-1'>
          <ul class='slides'>
            <li class='item'>
              <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                    <h1 class='big fadeInUp animated'>
                      Listen to your soul
                    </h1>
                    <p class='normal fadeInUp animated'>Make an impact on those who need it</p>
                    
                  </div>
                </div>
              </div>
            </li>
            <li class='item'>
              <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                    <h2 class='big fadeInLeftBig animated'>
                      Donate today
                    </h2>
                    <p class='normal fadeInRightBig animated'>Be the cause of their smile</p>
                    
                  </div>
                </div>
              </div>
            </li>
            <li class='item'>
              <div class='container'>
                <div class='row'>
                  <div class='col-lg-12 animate'>
                    <h2 class='big fadeInRightBig animated'>500+ children in need of your help</h2>
                    <a class='btn btn-contrast btn-lg fadeInUpBig animated' href='#'>
                      Show more
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
</div>

<div class="main-content">
<div class="container">
  <br><br>
  <div class='panels-wrapper'>
              <div class='row panels'>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-image' href='#'>
                    <div class='panel-icon'>
                      <i class='fa fa-clock-o icon'></i>
                    </div>
                    <br><br>
                    <div class='panel-body'>
                      <h3 class='panel-title'>WHO WE ARE</h3>
                      <p>We witnessed the trauma and difficulties faced by street children in Bangalore and in North Karnataka. This led to the formation of our organization ‘Need Base India’ (A foundation for Child Care and Development) with the sole intention to work on issues of care.</p>
                    </div>
                  </a>
  </div>
  <div class='panels-wrapper'>
              <div class='row panels'>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-image' href='#'>
                    <div class='panel-icon'>
                      <i class='fa fa-clock-o icon'></i>
                    </div>
                    <br><br>
                    <div class='panel-body'>
                      <h3 class='panel-title'>WHAT WE DO</h3>
                      <p>In Bangalore, every day more than 20 children arrive from different parts of the State to Bangalore in search of work, or are runaway children from dysfunctional families. Almost all of these children are living on railway platforms and streets without adult care. We pick them and take care of them.</p>
                    </div>
                  </a>
  </div>
  <div class='panels-wrapper'>
              <div class='row panels'>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-image' href='#'>
                    <div class='panel-icon'>
                      <i class='fa fa-clock-o icon'></i>
                    </div>
                    <br><br>
                    <div class='panel-body'>
                      <h3 class='panel-title'>HOW WE DO</h3>
                      <p>We are very glad that the organization got an opportunity to work on the vision by getting a project ‘Rainbow Home’ for girls found in difficult situations. We started the Rainbow Home in a government school at Bettahalli, Bangalore, now shifted to government school, Jalahalli Village.</p>
                    </div>
                  </a>
  </div>
</div>
</div>
