<footer id="footer">
<br>
  <!--<div id="footer-main">
    <div class="container">
      <div class="row">
        place for info boxes (see below)
      </div>
    </div>
  </div> -->
 
  <!-- copyright section -->
  <div id="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 clearfix">
 
          <!-- copyright -->
          <p class="copyright">Copyright</p>
 
          <!-- optional place for links -->
          <div class="links">
            <a class="btn btn-circle btn-medium-light btn-sm" href="#">
              <i class="fa fa-twitter text-dark"></i>
            </a>
          </div>
 
        </div>
      </div>
    </div>
  </div>
 
</footer>